#button1{background:rgba(0,0,0, 0.1);
    color: #AB966F;
    width: 500;
    height: 500;
    font-size: larger;
    border: rgba(0,0,0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh; 
    margin-left: 492px; 
    cursor: pointer;                         }
    #button2{background:rgba(0,0,0, 0.1);
        color: #AB966F;
        width: 500;
        height: 500;
        font-size: larger;
        border: rgba(0,0,0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh; 
        margin-left: 495px; 
        cursor: pointer; 
    border: none;                        }

    body{margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        background-image: url(./pics2]/fundo.png) ;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        
    }
    #div2{background-color:rgba(0,0,0, 0.6);
        color: #AB966F;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
    }
    #divh1{display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;}
   
    #divh2{display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
    font-size: 60px;}
        #divmargit{text-align: center;
        font-size: 40px;}
            #margitvideo{display: flex;
                align-items: center;
                justify-content: center;
                height: 100;}
                #txt1{margin-left: 20px;}


                    #Godrick{text-align: center;
                    font-size: 40px;}
                    
#Godrickvideo{display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 50px;}
#godrickaudio{display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;}
                   
#txt2{margin-left: 25px;}
#hdg{text-align: center;
font-size: 30px;}
#FM{text-align: center;
    font-size: 40px;}
    #Rennalavideo{display: flex;
        align-items: center;
        justify-content: center;
        height: 100;}
        #Raudio{display: flex;
            align-items: center;
            justify-content: center;
            height: 12vh;}
            #txt3{text-align: center;}
            #hdr{display: flex;
                align-items: center;
                justify-content: center;
                height: 10vh;
            font-size: 30px;}
            #shimg{display: flex;
                align-items: center;
                justify-content: center;
                height: 100;
            margin-top: 50px;}
                #godshade{text-align: center;
                    font-size: 40px;}
                    #txt4{text-align: center;
                    margin-top: 50px;}
                    #hdggs{display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 10vh;
                    font-size: 30px;}
 #morgott{text-align: center;
    font-size: 40px;}
    #morgottvideo{display: flex;
        align-items: center;
        justify-content: center;
        height: 100;
    margin-top: 50px;}         
#txt5{text-align: center;
    margin-top: 50px;}
    #hdmt{display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
    font-size: 30px;}   
#rykard{text-align: center;
font-size: 40px;}
#rykardvideo{display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
margin-top: 50px;}
#txt6{text-align: center;
    margin-top: 50px;}
    #hdsnb{display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
    font-size: 30px;}
#Mogh {text-align: center;
    font-size: 40px;} 
#txt7{text-align: center;
    margin-top: 50px;} 
    #txt7_2{text-align: center;
        margin-top: 50px;}
    #hdmh{display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
    font-size: 30px;}
#radahn{text-align: center;
    font-size: 40px;}
#radahnvideo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
margin-top: 50px;}
#txt8{text-align: center;
    margin-top: 50px;}
    #txt8_2{text-align: center;
        margin-top: 50px;}
#hdgr{display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
font-size: 30px;}
#malenia{text-align: center;
    font-size: 40px;}
    #maleniavideo{display: flex;
        align-items: center;
        justify-content: center;
        height: 100;
    margin-top: 50px;}
    #txt9{text-align: center;
    margin-top: 50px;}
    #hdm{display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
font-size: 30px;}
#firegiant{text-align: center;
    font-size: 40px;}
    #txt10{text-align: center;
        margin-top: 50px;}
        #hdfg{display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
        font-size: 30px;}
        #maliketh{text-align: center;
            font-size: 40px;}
        #txt11{text-align: center;
            margin-top: 50px;}
            #hdmk{display: flex;
                align-items: center;
                justify-content: center;
                height: 10vh;
            font-size: 30px;}
            #gideon{text-align: center;
                font-size: 40px;}
                #sirvideo{display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100;
                margin-top: 50px;}
                #txt12{text-align: center;
                    margin-top: 50px;}
                    #hdgo{display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 10vh;
                    font-size: 30px;}
                    #godfrey{text-align: center;
                        font-size: 40px;}
                        #godvideo{display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100;
                        margin-top: 50px;}
                #txt13{text-align: center;
                    margin-top: 50px;}
               #hdgf{display: flex;
                align-items: center;
                justify-content: center;
                height: 10vh;
            font-size: 30px;} 
            #hdgf_2{display: flex;
                align-items: center;
                justify-content: center;
                height: 10vh;
            font-size: 30px;}  
            #hdgf_3{display: flex;
                align-items: center;
                justify-content: center;
                height: 10vh;
            font-size: 30px;}   
            #radagon{text-align: center;
                font-size: 40px;}
                #radagonvideo{display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100;
                margin-top: 50px;}
        #txt14{text-align: center;
            margin-top: 50px;}
       #hdrd{display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
    font-size: 30px;} 
    #elden{text-align: center;
        font-size: 40px;}
        #eldenvideo{display: flex;
            align-items: center;
            justify-content: center;
            height: 100;
        margin-top: 50px;}
#txt15{text-align: center;
    margin-top: 50px;}
#hde{display: flex;
align-items: center;
justify-content: center;
height: 10vh;
font-size: 30px;}     
