body{background-image: url(./pics2]/fundooooo.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;}
    button{color: #AB966F;
        background-color: black;
        background: transparent;
        margin-top: 540px;
        margin-left: 570px;
        height: 25px;
        width: auto;
        position: static;
        border-radius: 6px;
    }
        #button2{color: #AB966F;
            background-color: black;
            margin-top: 10px;
            margin-left: 571px;
            border-radius: 6px;
            position: static}
#audio{display: none;}